body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:373px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:400px;
}
#u547 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:400px;
}
#u548 {
  position:absolute;
  left:2px;
  top:192px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
